In [1]:
import pandas as pd
from imblearn.over_sampling import SMOTE
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
df = pd.read_csv("Job titles and industries.csv")

In [3]:
df.head()

                                           job title industry
0  technical support and helpdesk supervisor - co...       IT
1                  senior technical support engineer       IT
2                                head of it services       IT
3                              js front end engineer       IT
4                   network and telephony controller       IT

In [4]:
df.shape

(8586, 2)

In [5]:
print(df.duplicated().value_counts())

True     4618
False    3968
dtype: int64

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.shape

(3968, 2)

In [8]:
df.isnull().sum()

job title    0
industry     0
dtype: int64

In [9]:
unique_job_titles = df['job title'].unique()
print(unique_job_titles)

['technical support and helpdesk supervisor - county buildings, ayr soa04086'
 'senior technical support engineer' 'head of it services' ...
 'sales & marketing manager' 'marketing & digital marketing consultant'
 'creative copywriter (arabic/english)']

In [10]:
df['job title'].value_counts()

product manager                                   3
business development manager                      3
commercial analyst                                3
technical support engineer                        3
data analyst                                      3
                                                 ..
product marketing manager - financial services    1
software test engineer : take ownership           1
information security manager - cyber security     1
country manager                                   1
community affairs communications assistant        1
Name: job title, Length: 3890, dtype: int64

In [11]:
df['industry'].value_counts()

IT             1529
Marketing      1203
Education       973
Accountancy     263
Name: industry, dtype: int64

In [12]:
from sklearn.preprocessing import OneHotEncoder



cat_encoder = OneHotEncoder()

encoded_column = cat_encoder.fit_transform( df[['job title']] )

X = pd.DataFrame(encoded_column.toarray() , columns = cat_encoder.categories_)

In [13]:
X.head()

,'e' marketing assistant,.net / sql software engineer,.net analyst programmer,.net architect - asp.net microservices aws,.net core - 6 month contract - reigate - competitive rates,.net developer,".net developer - .net core, react and vue.js",.net developer - angular - greenfield project,.net developer - asp.net,.net developer - c#,...,year 4 teacher - chichester,year 4 teacher required for outstanding primary- essex,year 5 & 6 teacher,year 5 teacher,year 5 teaching assistant,year 5 teaching assistant - coventry primary school,year 6 teacher,"year 6 teacher, leeds",year 6 teaching assistant,youth mentor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
y = df['industry']

y = pd.DataFrame(y)

industry_ = {"IT":0 , "Marketing":1 , "Education":2 , "Accountancy":3 }

y['industry'] = y['industry'].replace(industry_)

In [15]:
X.shape

(3968, 3890)

In [16]:
y.shape

(3968, 1)

In [17]:
smt = SMOTE()

X , y = smt.fit_resample( X , y )

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 , random_state=42 , shuffle=True )

In [ ]:
from sklearn import svm
clf = svm.SVC(kernel='linear'  )
clf.fit(X,y)
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

C:\Users\Mohamed Elghannam\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [ ]:
type(y)