NLP Task by
Mohamed Adel gomma Mohamed Elghannam

my report:
https://docs.google.com/document/d/1JXEEDhsowo6gzEHPlF2tMJNT1AchX9ElDWNEreBKuB8/edit?usp=sharing

In [1]:
import pandas as pd
from imblearn.over_sampling import SMOTE
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
# Reading CSV file
df = pd.read_csv("Job titles and industries.csv")

# Data Exploration and Preparation

In [3]:
df.head()

                                           job title industry
0  technical support and helpdesk supervisor - co...       IT
1                  senior technical support engineer       IT
2                                head of it services       IT
3                              js front end engineer       IT
4                   network and telephony controller       IT

In [4]:
df.shape

(8586, 2)

In [5]:
# Counting the dublicate values
print(df.duplicated().value_counts())

True     4618
False    3968
dtype: int64

In [6]:
#dropping the dublicates
df.drop_duplicates(inplace=True)

In [7]:
df.shape

(3968, 2)

In [8]:
# Counting the null values
df.isnull().sum()

job title    0
industry     0
dtype: int64

In [9]:
# Presenting the unique job names
unique_job_titles = df['job title'].unique()
print(unique_job_titles)

['technical support and helpdesk supervisor - county buildings, ayr soa04086'
 'senior technical support engineer' 'head of it services' ...
 'sales & marketing manager' 'marketing & digital marketing consultant'
 'creative copywriter (arabic/english)']

In [10]:
# counting each job name 
df['job title'].value_counts()

commercial analyst                                                      3
data analyst                                                            3
technical support engineer                                              3
account manager                                                         3
business development manager                                            3
                                                                       ..
communication specialist                                                1
automation test engineer                                                1
content marketing editor                                                1
accounts assistant german speaking                                      1
practice management software developer, leading top 10 firm, gatwick    1
Name: job title, Length: 3890, dtype: int64

In [11]:
# counting the values of each label
df['industry'].value_counts()

IT             1529
Marketing      1203
Education       973
Accountancy     263
Name: industry, dtype: int64

In [12]:
# Encoding the categorical column of jobs by using OneHotEncoder

from sklearn.preprocessing import OneHotEncoder



cat_encoder = OneHotEncoder()

encoded_column = cat_encoder.fit_transform( df[['job title']] )

X = pd.DataFrame(encoded_column.toarray() , columns = cat_encoder.categories_)

In [13]:
X.head()

,'e' marketing assistant,.net / sql software engineer,.net analyst programmer,.net architect - asp.net microservices aws,.net core - 6 month contract - reigate - competitive rates,.net developer,".net developer - .net core, react and vue.js",.net developer - angular - greenfield project,.net developer - asp.net,.net developer - c#,...,year 4 teacher - chichester,year 4 teacher required for outstanding primary- essex,year 5 & 6 teacher,year 5 teacher,year 5 teaching assistant,year 5 teaching assistant - coventry primary school,year 6 teacher,"year 6 teacher, leeds",year 6 teaching assistant,youth mentor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# setting int value for each label in the target column
y = df['industry']

y = pd.DataFrame(y)

industry_ = {"IT":0 , "Marketing":1 , "Education":2 , "Accountancy":3 }

y['industry'] = y['industry'].replace(industry_)

In [15]:
X.shape

(3968, 3890)

In [16]:
y.shape

(3968, 1)

In [17]:
# the labels column is imbalanced so we used SMOTE to oversample the minority labels to be equal with other labels
smt = SMOTE()

X , y = smt.fit_resample( X , y )

In [18]:
# convert y to 1d array
y = y.to_numpy()
y = y.ravel()

In [19]:
#splitting the data set to train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 , random_state=42 , shuffle=True )

In [20]:
type(X_test)

pandas.core.frame.DataFrame

In [21]:
X_test.shape

(1224, 3890)

# importing and training the model

In [22]:
from sklearn import svm
clf = svm.SVC(kernel='linear'  )
clf.fit(X,y)
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9893790849673203

# function uses the model to return the prediction

In [23]:
def industry_name(job_name):

    
    #getting X dataframe to get names of columns from it
    from sklearn.preprocessing import OneHotEncoder
    cat_encoder = OneHotEncoder()
    encoded_column = cat_encoder.fit_transform( df[['job title']] )
    X = pd.DataFrame(encoded_column.toarray() , columns = cat_encoder.categories_)


    
    #creating dataframe called n with the same column names of X dataframe
    n = pd.DataFrame(columns=X.columns)
    
    
    #setting zero for all values in in df
    n.loc[len(n)] = 0
    
    #change the value of zero in the column with 1
    n.xs(0)[job_name] =1

    
    # use the model to predict the industry name
    predicted_industry = clf.predict(n)
    
    if predicted_industry == [0]:
        return ("IT")
    
    elif predicted_industry == [1]:
        return ("Marketing")
    
    elif predicted_industry == [2]:
        return ("Education")
    
    else :
        return ("Accountacy")

# RESTful API service

In [ ]:
from flask import Flask , render_template , request


app = Flask(__name__)

@app.route("/" , methods = ["GET" ,"POST"])
def hello():
    
    i_n_p = 0
    
  
        
    if request.method == "POST":
        
       
        
        
        jobname = request.form['jobname']
        
        industry_name_predicted = industry_name(jobname)
        
        i_n_p = industry_name_predicted

        
    return render_template("index.html" , industry = i_n_p )




@app.route("/sub" , methods=['POST'])
def submit():
    # HTML --> .py
    if request.method =="POST":
        name = request.form["jobname"]
    # .py --> HTML  
    return render_template("sub.html" , n = name)






if __name__ == "__main__":
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [07/Nov/2021 11:56:04] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [07/Nov/2021 11:56:04] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [07/Nov/2021 12:03:40] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [07/Nov/2021 12:03:53] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [07/Nov/2021 12:03:54] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [07/Nov/2021 12:03:59] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [07/Nov/2021 12:04:02] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [07/Nov/2021 12:04:05] "POST / HTTP/1.1" 200 -